langchain
ipykernel
langchain_community
python-dotenv
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain_openai
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
flask

