flask
faiss-cpu
groq
gunicorn
python-dotenv
bs4
ipykernel
langchain
langchain_community
langchain_huggingface
sentence_transformers
streamlit
langchain_groq
pickle
numpy
pandas
requests
